.read{
    margin: 0;
    padding: 0;
    height: 95.8vh;
    width: 98vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 13px solid #A10035;
    background-color: #F7ECDE;
}
.read_box{
    width: 40vw;
    height:65vh;
    border: 10px double #A10035;
    color: #A10035;
}
.read_box #read_heading{
  text-align: center;
    font-family: 'Rubik Dirt', cursive;
}
.read_list{
    line-height: 30px;   
    margin-left: 20px;
    font-size: 20px;
    margin-right: 20px;
}
.read_button{
    background-color: #A10035;
    color: #F7ECDE;
    display: flex;
    align-items: center;
    border: none;
    justify-content: center;
}
@media only screen and (max-width:1295px) {
  .read_box{
    width: 60vw;
    height: 70vh;
  }
  }
@media only screen and (max-width:1002px) {
.read_box{
  width: 60vw;
  height: 80vh;
}
}
@media only screen and (max-width:715px) {
  .read_box #read_heading{
    font-size: 43px;
  }
  }
  @media only screen and (max-width:620px) {
    .read_box{
      width: 80vw;
      height: 80vh;
    }
    .read_box #read_heading{
      font-size: 33px;
    }
    }
@media only screen and (max-width:425px) {
      .read_box{
        width: 90vw;
        height: 90vh;
      }
      .read_box #read_heading{
        
        font-size: 30px;
      }
      .read_list{
        margin-left: 0px;
      }
      
}