/* body{
    background-color: #96E5D1;
} */
.notDone{
    display: flex;
    background-color: black;
    justify-content:space-between ;
    margin-top: 20px;
}
.done{
    background-color: #a6daa6;
    display: flex;
    justify-content:space-between ;
    margin-top: 20px;
}
