@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
.home_main{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: #F7ECDE;
}
.heading_main{
    color: #A10035;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    font-size: 150px;
    margin-top: 10px;
    margin-bottom: 80px;
    font-family: 'Rubik Dirt', cursive;
}
.logo_main{
    display: flex;
    justify-content: center;
}
#lg_main{
    margin-top: 94px;
    width: 150px;
    height: 150px;
}
.button_main{
    display: flex;
    justify-content: center;
}
.btn_main{
    background-color: #A10035;
    color: #F7ECDE;
    border: none;
    width: 200px;
    font-size: 20px;
    height: 60px;
}

@media only screen and (max-width:416px) {
    .heading_main{
        font-size: 70px;
        margin-top: 10px;
        margin-bottom: 30px;
    }
}